<div class="row">
  <div class="col-xs-6 col-xs-offset-3 text-center" style="margin-top: 25px;">
    <% if user_signed_in? %>
    <%= form_with url:search_path, method: get, local: true do |f| %>
    <%= f.text_field 'search[value]' %>
    <%= f.select 'search[model]', options_for_select({"User" => "user", "Book" => "book" }) %>
    <%= f.select 'search[how]', options_for_select({"Match" => "match", "Forward" => "forward", "Backward" => "backward", "Partical" => "partical" }) %>
    <%= f.submit :"Search" %>
    <% end %>
    <% end %>
  </div>
</div>